name: CI
on:
  pull_request:
    paths-ignore:
      - "documents/**"
      - "**.md"
  push:
    paths-ignore:
      - "documents/**"
      - "**.md"
  workflow_dispatch:

jobs:
  # ---------------------------------------------------------------------------
  x86_64-linux-gnu:
    name: Linux (x86_64)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mode: ["debug"]
        policies:
          [
            "build.sanitizer.address,build.sanitizer.leak,build.sanitizer.undefined",
          ]
        cxx_flags: [
            "", # SSE2
            "-msse3", # SSE2 SSE3
            "-mssse3", # SSE2 SSE3 SSSE3
            "-msse4 -mbmi -mbmi2", # SSE2 SSE3 SSSE3 SSE4.1 SSE4.2 BMI BMI2
            "-mavx -mbmi -mbmi2 -mprfchw", # SSE2 SSE3 SSSE3 SSE4.1 SSE4.2 AVX BMI BMI2
            "-mavx2 -mbmi -mbmi2 -mprfchw" # SSE2 SSE3 SSSE3 SSE4.1 SSE4.2 AVX AVX2 BMI BMI2
            # "-mavx512bw -mbmi -mbmi2 -mprfchw", # SSE2 SSE3 SSSE3 SSE4.1 SSE4.2 AVX AVX2 AVX512F AVX512BW BMI BMI2
            # "-mavx512vbmi -mavx512vbmi2 -mbmi -mbmi2 -mprfchw" # SSE2 SSE3 SSSE3 SSE4.1 SSE4.2 AVX AVX2 AVX512F AVX512BW AVX512VBMI AVX512VBMI2 BMI BMI2
            # "-mavx10.2 -mbmi -mbmi2 -mprfchw"
            # "-mapxf -mavx10.2 -mbmi -mbmi2 -mprfchw"
          ]
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        run: |
          CODENAME=$(lsb_release -cs)
          wget -qO- https://apt.llvm.org/llvm-snapshot.gpg.key | sudo tee /etc/apt/trusted.gpg.d/llvm.asc
          sudo add-apt-repository ppa:xmake-io/xmake
          sudo add-apt-repository "deb http://apt.llvm.org/$CODENAME/ llvm-toolchain-$CODENAME main"
          sudo apt-get install clang clang-tools lld xmake
      - name: Configure
        run: xmake f -m debug --use-llvm=y --toolchain=clang -m ${{ matrix.mode }} --policies=${{ matrix.policies }} --march=none --cxflags="${{ matrix.cxx_flags }}"
      - name: Build
        run: xmake b -rv
      - name: Check UWVM version
        run: xmake run uwvm --version
      - name: Unit tests
        run: xmake test -v

  # ---------------------------------------------------------------------------
  x86_64-linux-gnu-module:
    name: Linux (x86_64) with C++ module
    if: ${{ !always() }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mode: ["debug"]
        policies:
          [
            "build.sanitizer.address,build.sanitizer.leak,build.sanitizer.undefined",
          ]
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        run: |
          CODENAME=$(lsb_release -cs)
          wget -qO- https://apt.llvm.org/llvm-snapshot.gpg.key | sudo tee /etc/apt/trusted.gpg.d/llvm.asc
          sudo add-apt-repository ppa:xmake-io/xmake
          sudo add-apt-repository "deb http://apt.llvm.org/$CODENAME/ llvm-toolchain-$CODENAME main"
          sudo apt-get install clang clang-tools lld xmake
      - name: Configure
        run: xmake f -m debug --use-llvm=y --toolchain=clang -m ${{ matrix.mode }} --policies=${{ matrix.policies }} --use-cxx-module=y
      - name: Build
        run: xmake b -rv
      - name: Check UWVM version
        run: xmake run uwvm --version

  # ---------------------------------------------------------------------------
  x86_64-windows-gnu:
    if: ${{ !always() }} # Remove it once update to LLVM22
    name: Windows (x86_64) MINGW ${{ matrix.env.name }}
    strategy:
      matrix:
        env:
          - name: "CLANG64"
            prefix: mingw-w64-clang-x86_64
            os: windows-latest
          - name: "CLANGARM64"
            prefix: mingw-w64-clang-aarch64
            os: windows-11-arm
        mode: ["debug"]
        policies: ["build.sanitizer.address"]
    runs-on: ${{ matrix.env.os }}
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v4
      - uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.env.name }}
          update: true
          install: |
            ${{ matrix.env.prefix }}-cc
            ${{ matrix.env.prefix }}-xmake
      - name: Configure
        run: xmake f -p mingw --use-llvm=y -m ${{ matrix.mode }} --policies=${{ matrix.policies }}
      - name: Build
        run: xmake b -rv
      - name: Check UWVM version
        run: xmake run uwvm --version
      - name: Unit tests
        run: xmake test -v

  # ---------------------------------------------------------------------------
  x86_64-freebsd:
    name: FreeBSD (x86_64) ${{ matrix.compiler }}
    runs-on: ubuntu-latest
    env:
      version: "14.3"
    strategy:
      matrix:
        compiler: ["GCC"]
        mode: ["debug"]
        policies: ["build.sanitizer.address"]
    steps:
      - uses: actions/checkout@v4
      - name: Prepare
        uses: cross-platform-actions/action@v0.30.0
        with:
          operating_system: freebsd
          version: ${{ env.version }}
          run: |
            sudo mkdir -p /usr/local/etc/repos
            sudo tee /usr/local/etc/repos/FreeBSD.conf << EOF
              FreeBSD: { enabled: false }
              FreeBSD-latest: {
                url: "pkg+https://pkg.freebsd.org/${ABI}/latest",
                mirror_type: "srv",
                signature: "fingerprints",
                fingerprints: "/usr/share/keys/pkg",
                enabled: yes
              }
            EOF
      - name: Configure
        if: matrix.compiler == 'CLANG'
        uses: cross-platform-actions/action@v0.30.0
        with:
          operating_system: freebsd
          version: ${{ env.version }}
          run: |
            sudo pkg install -y llvm-devel-lite xmake-io
            xmake f -m debug -m ${{ matrix.mode }} --policies=${{ matrix.policies }} --use-llvm=y --sdk="$(llvm-config-devel --prefix)"
      - name: Configure
        if: matrix.compiler == 'GCC'
        uses: cross-platform-actions/action@v0.30.0
        with:
          operating_system: freebsd
          version: ${{ env.version }}
          run: |
            sudo pkg install -y gcc16-devel xmake-io
            xmake f -m debug -m ${{ matrix.mode }} --policies=${{ matrix.policies }} --cc=gcc16 --cxx=g++16 --ld=g++16
      - name: Build and check
        uses: cross-platform-actions/action@v0.30.0
        with:
          operating_system: freebsd
          version: ${{ env.version }}
          run: |
            xmake b -rv
            xmake run uwvm --version
            xmake test -v
